# Core numerical and data packages
numpy==2.0.2
pandas==2.2.3
scipy==1.13.1

# Plotting and visualization
matplotlib==3.9.4
seaborn

# Date/time and parsing
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.2
pyparsing==3.2.3
packaging==25.0

# Misc utilities
six==1.17.0
zipp==3.21.0
cycler==0.12.1
fonttools==4.57.0
kiwisolver==1.4.7
pillow==11.2.1
importlib_resources==6.5.2

# AWS CLI (if required)
awscli==1.38.28

# Machine learning / clustering
scikit-learn